<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Data</title>
</head>
<body>
    <h1>System Data</h1>
    <h2>CPU Usage</h2>
    <p>Percent : {{ latest_data.cpu_usage }}</p>

    <h2>RAM Usage</h2>
    <p>Total: {{ latest_data.ram_total }}</p>
    <p>Percent: {{ latest_data.ram_percent }}</p>

    <h2>HDD Usage</h2>
    <p>Total: {{ latest_data.hdd_total }}</p>
    <p>Percent: {{ latest_data.hdd_percent }}</p>
</body>
</html>