body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 30px;
}

.monitoring-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    transition: 0.3s;
}

.monitoring-table th, .monitoring-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.monitoring-table th {
    background-color: #3498db;
    color: #fff;

}

.monitoring-table tbody tr:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: #d6d6d6;
}

#systemChartContainer {
    max-width: 1200px; /* Ölçüleri ayarlayabilirsiniz */
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

#systemChart {
    height: 600px; /* Grafiğin yüksekliğini ayarlayabilirsiniz */
}
